[submodule "rust/shared/crispy-iptv-types"]
	path = rust/shared/crispy-iptv-types
	url = git@github.com:moabualruz/crispy-iptv-types.git
	branch = main
[submodule "rust/shared/crispy-m3u"]
	path = rust/shared/crispy-m3u
	url = git@github.com:moabualruz/crispy-m3u.git
	branch = main
[submodule "rust/shared/crispy-xmltv"]
	path = rust/shared/crispy-xmltv
	url = git@github.com:moabualruz/crispy-xmltv.git
	branch = main
[submodule "rust/shared/crispy-xtream"]
	path = rust/shared/crispy-xtream
	url = git@github.com:moabualruz/crispy-xtream.git
	branch = main
[submodule "rust/shared/crispy-stalker"]
	path = rust/shared/crispy-stalker
	url = git@github.com:moabualruz/crispy-stalker.git
	branch = main
[submodule "rust/shared/crispy-stream-checker"]
	path = rust/shared/crispy-stream-checker
	url = git@github.com:moabualruz/crispy-stream-checker.git
	branch = main
[submodule "rust/shared/crispy-iptv-tools"]
	path = rust/shared/crispy-iptv-tools
	url = git@github.com:moabualruz/crispy-iptv-tools.git
	branch = main
[submodule "rust/shared/crispy-catchup"]
	path = rust/shared/crispy-catchup
	url = git@github.com:moabualruz/crispy-catchup.git
	branch = main
[submodule "rust/shared/crispy-media-probe"]
	path = rust/shared/crispy-media-probe
	url = git@github.com:moabualruz/crispy-media-probe.git
	branch = main
